<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdn.zinggrid.com/zinggrid.min.js" defer></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <!-- Dashboard CSS -->
        <!-- <link href="css/simple-sidebar.css" rel="stylesheet"> -->

        <title>Pokemon Dashboard</title>
    </head>
    <body>

        <div class="d-flex" id="wrapper">

            <!-- Sidebar -->
            <div class="bg-light border-right" id="sidebar-wrapper">
              <div class="sidebar-heading">Start Bootstrap </div>
              <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Sunburst</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Build your Team!</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Sidebar Option</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Sidebar Option</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Sidebar Option</a>
              </div>
            </div>
            <!-- /#sidebar-wrapper -->
        
            <!-- Page Content -->
            <div id="page-content-wrapper">
        
             <div class="container-fluid"> 
               <div class="col-me-12">

                <form action="/append" method="POST">
                  <!-- Creating a search bar for the user to select the Pokemon -->
                  <h6>Pokemon: <input type="text" name="pokemon_name" placeholder="Enter the Pokemon Name..." id="userInput">
                    <button type="submit"><i class="fa fa-search"></i></button></h6>
                  </form>


              <!-- Table with panel -->
              <div class="card card-cascade narrower">

                <div class="px-4">

                  <div class="table-wrapper">
                    <!--Table-->
                    <table class="table table-hover mb-0">

                      <!--Table head-->
                      <thead id="head">
                        <tr>
                          <th class="th-lg">
                            <a>Pokemon Name
                              <i class="fas fa-sort ml-1"></i>
                            </a>
                          </th>
                          <th class="th-lg">
                            <a>Type 1
                              <i class="fas fa-sort ml-1"></i>
                            </a>
                          </th>
                          <th class="th-lg">
                            <a>Type 2
                              <i class="fas fa-sort ml-1"></i>
                            </a>
                          </th>
                          <th class="th-lg">
                            <a>Ability 1
                              <i class="fas fa-sort ml-1"></i>
                            </a>
                          </th>
                          <th class="th-lg">
                            <a>Ability 2
                              <i class="fas fa-sort ml-1"></i>
                            </a>
                          </th>
                          <th class="th-lg">
                            <a>Attack
                              <i class="fas fa-sort ml-1"></i>
                            </a>
                          </th>
                        </tr>
                      </thead>
                      <!--Table head-->

                      <!--Table body-->
                      <tbody class="data"></tbody>
                      <!--Table body-->
                    </table>
                    <!--Table-->
                  </div>

                </div>

              </div>
            </div>
            </div> 
            </div>
            <!-- /#page-content-wrapper -->


        
          </div>
          <!-- /#wrapper -->

    

        <!-- Bootstrap Support Scripts -->
        <!-- Do not delete -->
        <!-- Script order: jQuery first, then Popper.js, then Bootstrap JS  -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
        <!-- D3 Support Script -->
        <script src="https://d3js.org/d3.v5.min.js"></script>

        <!-- Dashboard Script -->
        <!-- <script src="app.py"></script> -->
        <!-- <script src="static/page2.js"></script> -->
        <script>

    d3.json('/get_data').then(function(info){

    const data = info

      console.log(data);

      var tbody = d3.select("tbody");
      data.forEach((getData) => {
      var row = tbody.append("tr")
      })
})







        </script>

    </body>
</html>